@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

nav {
  width: 100%;
  background-color: rgb(104, 220, 65);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav h2 {
  font-size: x-large;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  padding: 8px 15px;
}

nav ul li a {
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

nav ul li a:hover {
  color: gray;
  background-color: #fff;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #ff5733;
  border: 1px solid rgb(170, 96, 255);
  border-radius: 10px;
  width: 400px;
  height: 650px;
  margin: 20px 20px;
}

.card img {
  border-radius: 10px 10px 0px 0px;
  transition: transform 0.5s ease-in-out;
}

.card img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card h2 {
  margin-top: 15px;
  color: rgb(253, 253, 253);
  font-size: xx-large;
}

.info {
  text-align: center;
}

.info h4 {
  color: #fff;
  margin-bottom: 5px;
  font-size: medium;
  margin-bottom: 3px;
}

.info p {
  color: #fff;
  padding: 0px 20px;
  font-size: medium;
  font-weight: 500;
  text-align: justify;
}

table {
  color: #ff5733;
  background-color: #aaff33;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 8px;
  width: 400px;
  height: 650px;
  border: 2px solid rgb(170, 96, 255);
}

table thead th,
table tbody tr th {
  margin: 5px;
  padding: 20px 30px;
  border: 2px solid rgb(170, 96, 255);
}

td {
  border: 2px solid rgb(170, 96, 255);
  color: #fff;
  background-color: #9c33ff;
  font-weight: 500;
  padding: 0px 40px;
  font-size: large;
}
footer h3 {
  text-align: center;
}
